/* Estilos para la Página de Calculadora de Calorías */
.calorias-hero {
  background-position: center;
  background-size: cover;
}

.calorias-hero h1 {
  font-family: "Quicksand", serif;
  font-size: 4rem;
  font-weight: bold;
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.6);
}

.calorias-hero p {
  font-family: "Quicksand", serif;
  font-size: 1.5rem;
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.6);
}

.calculadora-section h2,
.resultados-section h2 {
  font-family: "Quicksand", serif;
  font-size: 2.5rem;
  font-weight: bold;
  color: rgb(34, 53, 17);
}

.card {
  border: none;
  border-radius: 15px;
  overflow: hidden;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.btn-primary {
  background-color: rgb(34, 53, 17) !important;
  border-color: rgb(34, 53, 17) !important;
  font-size: 1.2rem;
  padding: 10px 30px;
  border-radius: 30px;
}

.btn-primary:hover {
  background-color: rgb(73, 110, 85) !important;
  border-color: rgb(73, 110, 85) !important;
}

.btn-outline-primary {
  border-color: rgb(34, 53, 17);
  color: rgb(34, 53, 17);
}

.btn-outline-primary:hover {
  background-color: rgb(34, 53, 17);
  color: white;
}