
.login-hero {
    background-position: center;
    background-size: cover;
  }
  

  .card.shadow-lg {
    border: none;
    border-radius: 15px;
    overflow: hidden;
  }
  
  .card-body {
    background-color: rgba(255, 255, 255, 0.9);
  }
  
  .btn-primary {
    background-color: rgb(34, 53, 17) !important;
    border-color: rgb(34, 53, 17) !important;
  }
  
  .btn-primary:hover {
    background-color: rgb(73, 110, 85) !important;
    border-color: rgb(73, 110, 85) !important;
  }
  

  .bg-light {
    background-color: #f8f9fa !important;
  }
  
  .btn-outline-primary {
    border-color: rgb(34, 53, 17);
    color: rgb(34, 53, 17);
  }
  
  .btn-outline-primary:hover {
    background-color: rgb(34, 53, 17);
    color: white;
  }